<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
</head>
<body>
    <h1>Bosh sahifa</h1>
    <ul>
        <li><a href="{% url 'student_list' %}">Talabalar</a></li>
        <li><a href="{% url 'reja_list' %}">Rejalar</a></li>
        <li><a href="{% url 'bajarilmagan_rejalar' %}">Bajarilmagan rejalar</a></li>
        <li><a href="{% url 'bitiruvchilar' %}">Bitiruvchilar</a></li>
        <li><a href="{% url 'kattalar' %}">20+ yoshdagi talabalar</a></li>
        <li><a href="{% url 'bitiruvchilar_rejalari' %}">Bitiruvchilar rejalarini ko‘rish</a></li>
    </ul>
</body>
</html>
