<!DOCTYPE html>
<html>
<head>
    <title>Rejalar ro‘yxati</title>
</head>
<body>
    <h1>Hamma rejalar</h1>
    <ul>
        {% for r in rejalari %}
            <li>
                {{ r.sarlavha }} — Student: {{ r.student.ism }}
                <a href="{% url 'reja_delete' r.pk %}">❌ O‘chirish</a>
            </li>
        {% empty %}
            <li>Rejalar yo‘q</li>
        {% endfor %}
    </ul>

    <h2>Yangi reja qo‘shish</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Qo‘shish</button>
    </form>

    <a href="{% url 'home' %}">⬅️ Bosh sahifa</a>
</body>
</html>
