<!DOCTYPE html>
<html>
<head>
    <title>{{ student.ism }} rejalari</title>
</head>
<body>
    <h1>{{ student.ism }} rejalari</h1>
    <ul>
        {% for r in rejalari %}
            <li>
                {{ r.sarlavha }} —
                {% if r.bajarildi %} ✅ Bajarilgan {% else %} ❌ Bajarilmagan {% endif %}
            </li>
        {% empty %}
            <li>Bu studentda reja yo‘q</li>
        {% endfor %}
    </ul>
    <a href="{% url 'student_list' %}">⬅️ Studentlar ro‘yxatiga qaytish</a>
</body>
</html>
